.navbarnav .navitem :hover{
    color:#4ebec8 !important ;
    }
    .navbarnav a .active.active:focus{
      color:#4e4edc !important;
      }

    .navbarnav .navitem{
        
        display:inline-flex;
      
      }