.portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfoliodetailsslider img {
    width: 100%;
  }
  
  .portfolio-details .portfoliodetailsslider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfoliodetailsslider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1bac91;
  }
  
  .portfoliodetails .portfoliodetailsslider .swiperpagination .swiperpaginationbullet-active {
    background-color: #1bac91;
  }
  
  .portfoliodetails .portfolioinfo {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(33, 65, 60, 0.08);
  }
  
  .portfoliodetails .portfolioinfo h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfoliodetails .portfolioinfo ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfoliodetails .portfolioinfo ul li+li {
    margin-top: 10px;
  }
  
  /* .portfoliodetails .portfoliodescription {
    padding-top: 30px;
  } */
  
  .portfoliodetails .portfoliodescription h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfoliodetails .portfoliodescription p {
   padding:0;
  }
  .Imagecss{
    height:400px;
    width:100%
  }
  /* Breadcrumbs*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: #f7f7f7;
    min-height: 40px;
 
  }
  .textt{
    color: #1bac91;
  }
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 60px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
   
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
   
  }
.ttt{
  border-radius: 50%;
}
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }