@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.whole 
{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-seri;
    font-size: 16px;
    
  }


.what
{
  font-family: 'Poppins', sans-seri;
  font-weight: bold;
}

.desc
{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
   
}

.item
{
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}


.item:hover .what
{
  color: #22d8b6; 
}


.question
{
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  color: #1BAC91;
}

.focuss:focus
{
  color: #1BAC91 !important;
}

