.name{
    font-family: "Raleway", sans-serif;
  
}
.heading{
    color:#21413c;
}
.text{
    color:#444444;
}
.card{
 

   font-style: italic;

}
.cardtext{
    background-color: #eff7f6; 
   
}
.namecolor{
    color:#999;
    font-family: "Raleway", sans-serif;
}
.myimg{
    margin-top:-25px;
    border-width: 40px;
    outline: 14px solid rgb(231, 224, 224);
    outline-offset: 2px;
    outline-color:white;
    outline-width: 5px;
}
.swiper-wrapper .swiper-pagination  .swiper-pagination-bullet{
    background-color: rgb(89, 255, 0);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color:red
}
@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .fadeInUp {
    animation: 1.5s fadeInUp;
  }